<div class="card" data-id="<%= portfolio.id %>">
        <%= image_tag portfolio.thumb_image unless portfolio.thumb_image.nil? %>
        <p class="card-text">
                <span><%= link_to portfolio.title, portfolio_show_path(portfolio) %></span>
                <%= portfolio.subtitle %>
        </p>
</div>