<div class="album text-muted">
  <div class="container">

    <div class="row sortable">
        <%= render @portfolios %>
    </div>
      <!--<%= link_to 'New Portfolio', new_portfolio_path if logged_in?(:site_admin) %>-->
    
  </div>
</div>
