<div class="album text-muted">
  <div class="container">
    <%= source_helper("alert alert-warning") %>
    <div class="row <%= "sortable" if logged_in?(:site_admin) %>" >
        <%= render @portfolios %>
    </div>
      <!--<%= link_to 'New Portfolio', new_portfolio_path if logged_in?(:site_admin) %>-->
    
  </div>
</div>
