<h1>Pages#contact</h1>
<p><%=number_to_phone "2145541711" %></p>

<p><%=number_to_currency "150" %></p>

<p><%=number_to_percentage "80.4" %></p>

<p><%=number_with_delimiter "1234567489456123" %></p>