<h1>Portfolio Items</h1>

<% @portfolio_items.each do |portfolio| %>
    <p><%= portfolio.title %></p>
    <p><%= portfolio.subtitle %></p>
    <p><%= portfolio.body %></p>
    <<%= image_tag portfolio.thumb_image %>
<% end %>